/* Hide Answers section on a search page */
search-telemetry-tracker[data-faceplate-tracking-context*="\"answers\""] {
    display: none;
}

/* Hide related answers and posts on a subreddit page */
aside[id^="answers-suggested-queries"], faceplate-partial[src^="/svc/shreddit/pdp-right-rail/related/"] {
    display: none;
}

/* Hide "Request failed" alert banner because blocking the related posts request throws it */
alert-controller {
    display: none;
}